header h1 img {
	margin-top: -15px;
	height: 40px;
}

.header-btn {
	margin-top: -10px;
}

.stat, #form-search .checkbox {
	margin-top: 15px;
	margin-left: 40px;
}

#form-search input, #form-search button[type="submit"] {
	color: #000;
	border-color: #000;
}

#form-search input {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
#form-search button[type="submit"] {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	outline: none;
}

#form-search .checkbox h5, #form-search .checkbox label {
	display: inline-block;
	margin-right: 30px;
}
#form-search .checkbox i {
	margin-left: 3px;
	color: #777;
}

@media screen and (max-width: 768px) {
	#form-search .checkbox label {
		display: block;
	}
}

#search-results li a {
	display: block;
}
#search-results li h3 {
	color: #1a0dab;
	font-size: 18px;
	margin-bottom: 0;
}
#search-results li .link a {
	color: #006621;
}

footer .pager li:nth-child(2) {
	margin: 0 20px;
}

.alert > .glyphicon {
	margin-right: 5px;
}
