<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="theme-color" content="#41145a" />
		<title>Find Your File</title>

		<link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/static/app.css" />
		<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/static/app.js"></script>

		{% block head %}
		{% endblock %}
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-md-offset-1">
					<header>
						<h1><img src="/static/logo.png" /> Find Your File</h1>
					</header>
					<article>
						{% block article %}
						{% endblock %}
					</article>
					<footer>
						{% block footer %}
						{% endblock %}
					</footer>
				</div>
			</div>
		</div>
	</body>
</html>
